<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #b8bbd1">
    <div class="container">
      <h1 class="display-4 text-center py-1">REJA VA MASADLAR</h1>

      <div class="jumbotron p-3 shadow-sm">
        <form action="/creat-item" method="post" id="create-item">
          <div class="d-flex align-items-center">
            <input
              id="create-field"
              name="item"
              autofocus
              autocomplete="off"
              class="form-control me-3"
              style="flex: 1"
              type="text"
            />
            <button class="btn btn-primary" style="border-radius: 20px">
              Yangi Rejalarni Qo'shish
            </button>
          </div>
        </form>
      </div>

      <button id="clean-all" class="btn btn-danger" style="border-radius: 20px;">
        Hamma Rejalarni o'chirish
      </button>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
